.header__links {
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

.header__links::after {
  content: '';
  opacity: 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: opacity .2s linear;
}

.header__links:hover::after {
  opacity: 1;
}