.header__menu-btn {
  display: none;
  background: 0;
  border: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}

@media only screen and (max-width: 650px) {
  .header__menu-btn {
    display: block;
  }
}